* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  transition: all 0.1s ease-in;
  font-family: "Trebuchet MS";
}
body {
  background-color: #3b3f45;
}
.header {
  background-color: #4a4f56;

  padding-bottom: 12px;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-weight: 700;
  font-size: 24px;
  align-items: center;
  color: #ff8984;
  margin-top: 19px;
  margin-bottom: 4px;
}
h1 + h4 {
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  color: #ff8984;
}
main {
  padding-top: 20px;
  padding-bottom: 45px;
}
.list .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}
.list li {
  width: 534px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  background-color: #88839e;
  border-top: 3px solid #88839e;
  border-bottom: 3px solid #88839e;
}
.list ul li:nth-child(2n) {
  background-color: #7a7593;
  border-top: 3px solid #7a7593;
  border-bottom: 3px solid #7a7593;
}
.list ul label {
  display: block;
  cursor: pointer;
  height: 100%;
  padding: 11px 0px 12px 14px;
}
.list li span {
  vertical-align: 3px;
}
.list label small {
  font-size: 11px;
  color: #ffffff;
  align-items: center;
}
input {
  width: 19px;
  height: 19px;
  margin-right: 16px;
}

.list label small::before {
  content: "(";
}
.list label small::after {
  content: ")";
}
.list ul li:hover {
  background-color: #625e77;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}
.list ul li:active {
  background-color: coral;
}
input[type="checkbox"]:checked + span,
input[type="checkbox"]:checked + span small {
  text-decoration: line-through;
  color: #9b96ac;
}
.container h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
h4 {
  width: 534px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  color: #ff8984;
  background-color: #4a4f56;
}
h4::after {
  content: " :)";
}

@font-face {
  font-family: "Trebuchet MS" Trebuchet, Arial, sans-serif;
  src: url("../fonts/trebuchetms.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
